<html>
	<head>
		<title>

		<link rel='stylesheet' type='text/css' src="{% static 'projects/style.css' %}" />

		<script type='text/javascript'></script>
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-8'>
					<div class='panel panel-default'>
						<div class='panel-heading'>
							<span class='glyphicon glyphicon-ass'></span>
							Taint
						</div>
						<div class='panel-body'>
							<p>More Taint</p>
						</div>
					</div>
				</div>
				<div class='col-sm-4'>
					<div class='panel'>
						<div class='panel-heading'>
							<span class='glyphicon glyphicon-ass'></span>
							Most Activity
						</div>
						<div class='panel-body'>
							<p>
								This will show the projects with the most
								updates, comments, submissions, etc.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>