<html>
	<head>
		<!-- Load Static Files -->
		{% load static %}

		<!-- Page Title -->
		<title>DevDash - Tasks</title>

		<!-- Include Static CSS Files (including Semantic UI) -->
		<link rel='stylesheet' type='text/css' href="{% static 'tasks/css/style.css' %}" />
		<link rel='stylesheet' type='text/css' href="{% static 'tasks/css/semantic.min.css' %}" />

		<!-- Include Semantic UI JavaScript Files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type='text/javascript' src="{% static 'tasks/js/semantic.min.js' %}"></script>
		<script type='text/javascript'>
			/*
			$(document).ready(function(){

				var colorChoice = 0;
				var colors = ['blue', 'green', 'orange', 'violet', 'red', 'purple', 'yellow'];

				$('div.ui.card').each(function(i, card){
					$(card).addClass(colors[colorChoice]);

					colorChoice++;
					if (colorChoice == colors.length) { colorChoice = 0; }
				})
			});
			*/
		</script>
	</head>
	<body>
		<br />
		<div class='ui grid container'>
			<div class='sixteen wide column'>
				<h1 class='ui header'>The Development Dashboard: Tasks</h1>
			</div>
		</div>
		<div class='ui stackable grid container'>
			{% for task in tasks %}
				<div class='five wide column'>
					<div class='ui card'>
						<div class='content'>
							<div class='header'>{{ task.task_name }}</div>
						</div>
						<div class='content'>
							<div class='ui sub header'>Activity</div>
							<p>Needs to be completed.</p>
						</div>
						<div class='extra content'>
							<p class='task-card-user-info'>Created by: <a href='#'><b>{{ task.creator.first_name }}</b></a></p>
							<p class='task-card-user-info'>To be Completed by: <a href='#'><b>{{ task.executor.username }}</b></a></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>